.card-swiper {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 700px;
  position: relative;
  padding: 40px 25px;
}

@media (max-width: 700px) {
  .card-swiper{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.card-swiper.swiper {
  width: 100%;
  height: 100%;
}

.card-swiper.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwipeCard {
  height: auto;
  width: 90%;
  box-sizing: border-box;
  display: flex;
  padding: 10px 0;
  border-radius: 12px;
  padding-left: 15%;

}

.card-swiper.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-swiper.swiper {
  width: 100%;
  height: 400px;
  margin: 20px auto;
  
}
.card-swiper.append-buttons {
  text-align: center;
  margin-top: 20px;
  
}

.card-swiper.append-buttons button {
  display: inline-block;
  cursor: pointer;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
  
}

.swiper-pagination-fraction {
  font-size: 14px;
  color: #c61f1f;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #1e1e1e;
  padding: 4px 10px;
  border-radius: 6px;
  width: auto;
  text-align: center;
}
.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1d1d1d;
  color: #c61f1f;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-prev {
  left: 0px;
}

.custom-next {
  right: 0px;
}

@media (max-width: 700px) {
  .custom-prev,
  .custom-next {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .custom-prev {
    left: 10px;
  }

  .custom-next {
    right: 10px;
  }
}
