@import "tailwindcss";

body{
    /* background: black; */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE va Edge */
  scrollbar-width: none; /* Firefox */
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #C61F1F;
    --color-dark: #1E1E1E;
    --color-content: #111111;
}

.container{
    max-width: 1212px;
    padding-left: 16px;
    padding-right: 16px;
}
